<!DOCTYPE html>
<html>
<head>
    <title>Symfony App With Vue</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body>
    {% block body %}{% endblock %}
    {% block jsVueBlock %}{% endblock %}
</body>
</html>