<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body>
    {% block body %}{% endblock %}
    {% block jsVueBlock %}{% endblock %}
</body>
</html>