{% extends 'base.html.twig' %}

{% block title %} Page 2 | Vue.js App{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="badge bg-info fs-4 mb-2">Page 2</div><br>
                <div class="badge bg-success fs-5 mb-2">Search Component in Vue.js within Symfony</div>
                {% include "shared/search-shared.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}